{% extends '::base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body -%}

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>You can send us a message, as well as view all posts.</p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Contact Us</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.subject) }}
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>
        <div class="form-group">
            {{ form_label(form.body) }}
            {{ form_errors(form.body) }}
            {{ form_widget(form.body) }}
        </div>
        <div>
            <input type="submit" value="Send" class="btn btn-primary pull-left" />
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-md-3"></div>
{% endblock %}
